<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Employee</title>
</head>
<body>
<p>Резюме</p>
<p th:text="' login: ' + ${login}" />
<p th:text="' ФИО: ' + ${fio}" />
<p th:text="' Дата рождения: ' + ${dob}" />
<p th:text="' Телефон: ' + ${phone}" />
<p th:text="' e-mail: ' + ${email}" />
<p th:text="' skype: ' + ${skype}" />
<p th:text="' target: ' + ${target}" />
<p th:text="' Опыт работы: ' + ${expirience}" />
<p th:text="' Образование: ' + ${education}" />
</body>
</html>